header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.logo-container {
  width: 1rem;
  margin-left: 1rem;
  z-index: 10;
}

.menu-container {
  width: 4rem;
  height: 2rem;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 100;

  &:hover {
    .btn__hamburger::before {
      width: 70%;
    }
  }

  .btn__hamburger {
    width: 2.5rem;
    height: 0.25rem;
    background: red;
    border: 0;
    border-radius: 0.8rem;
    transition: 0.5s;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &.active {
      background-color: transparent;

      &::before {
        transform: translateY(0) rotate(45deg);
        -webkit-transform: translateY(0) rotate(45deg);
        -moz-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
        -o-transform: translateY(0) rotate(45deg);
      }

      &::after {
        transform: translateY(-0.3rem) rotate(-45deg);
        -webkit-transform: translateY(-0.3rem) rotate(-45deg);
        -moz-transform: translateY(-0.3rem) rotate(-45deg);
        -ms-transform: translateY(-0.3rem) rotate(-45deg);
        -o-transform: translateY(-0.3rem) rotate(-45deg);
      }
    }

    &::after,
    &::before {
      content: '';
      display: block;
      width: 2.5rem;
      height: 0.25rem;
      border-radius: 0.8rem;
      background-color: blue;
      transition: 0.5s;
      -moz-border-radius: 0.8rem;
      -ms-border-radius: 0.8rem;
      -o-border-radius: 0.8rem;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }

    &::before {
      transform: translatey(-0.5rem);
      -webkit-transform: translatey(-0.5rem);
      -moz-transform: translatey(-0.5rem);
      -ms-transform: translatey(-0.5rem);
      -o-transform: translatey(-0.5rem);
    }

    &::after {
      transform: translatey(0.2rem);
      -webkit-transform: translatey(0.2rem);
      -moz-transform: translatey(0.2rem);
      -ms-transform: translatey(0.2rem);
      -o-transform: translatey(0.2rem);
    }
  }

  &__download {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0.01rem solid black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;

    &:hover {
      color: white;
      background-color: gray;
      border-color: white;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(128, 112, 112);
  opacity: 0;
  z-index: 10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  &.active {
    left: 0;
    opacity: 1;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    opacity: 0;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;

    &.active {
      opacity: 1;
    }
  }

  &__item {
    padding: 1rem 0;
  }
}
