<header>
  <figure class="logo-container">
    <a [routerLink]="['/home']"><img src="./../../../../assets/images/Logo.png" alt="Personal logo"></a>
  </figure>
  <div class="menu-container">
    <button (click)="toogleMenu()" class="hamburguer-menu">
      <span [ngClass]="{ active: openMenu }"></span>
    </button>
    <nav [ngClass]="{ active: openMenu }" class="menu">
      <ul [ngClass]="{ active: openMenu }" class="menu__list">
        <li class="menu__item menu__item--disabled"><a [routerLink]="['/']" fragment="proyect" (click)="toogleMenu()">{{'Proyects' | uppercase}}</a></li>
        <li class="menu__item menu__item--disabled"><a [routerLink]="['/']" fragment="technologie" (click)="toogleMenu()">{{'Technologies' | uppercase}}</a></li>
        <li class="menu__item"><a [routerLink]="['/']" fragment="about" (click)="toogleMenu()">{{'About me' | uppercase}}</a></li>
        <li class="menu__item menu__item--disabled"><a [routerLink]="['/']" fragment="contact" (click)="toogleMenu()">{{'Contact' | uppercase}}</a></li>
        <li class="menu__item">
          <a class="btn btn--download" href="https://firebasestorage.googleapis.com/v0/b/jhs-portfolio.appspot.com/o/CV-Jozek-Hajduk.pdf?alt=media&token=80f778f9-98bd-4133-bc63-05dc0ebc57a1" target="_blank" download>Download CV</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
