.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  text-align: center;

  &__title {
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    border-left: 0.2rem solid rgb(0 0 0);
  }
}
