.info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 40% 1rem 0;
  z-index: 1;

  &__name {
    h1 {
      font-size: 4rem;
    }
  }

  &__more {
    h6 {
      font-size: 0.8rem;
    }
  }
}
