.project {
  border-radius: 0.4rem;
  box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;

  &__image {
    width: 100%;
    height: 18rem;
    max-width: 30rem;
    min-height: 11rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: 0.5s;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
      border-radius: 0.4rem;
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      -webkit-border-radius: 0.4rem;
      -moz-border-radius: 0.4rem;
      -ms-border-radius: 0.4rem;
      -o-border-radius: 0.4rem;

      img {
        border-radius: inherit;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        -ms-border-radius: inherit;
        -o-border-radius: inherit;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      transition: 0.5s;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      -ms-border-radius: inherit;
      -o-border-radius: inherit;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
  }

  &__info {
    padding: 1rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__description {
    padding-bottom: 1rem;
  }
  &__techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__source {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    & a:first-child {
      margin-right: 1rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;

      &:hover {
        color: white;
        background-color: gray;
      }
    }

    & a:last-child {
      padding: 0.5rem;
      border-radius: 0.2rem;
      background-color: rgb(0, 119, 255);
      color: rgb(255, 255, 255);
      transition: 0.5s;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;

      &:hover {
        background-color: rgb(0, 38, 255);
      }

      fa-icon {
        padding-left: 0.3rem;
      }
    }
  }
}
