/* Variables */
/*************************************/
// Project card
$color-bg: #303030;
$btn-watch-bg: rgb(0, 119, 255);
$btn-watch-color: rgb(255, 255, 255);
$btn-watch-bg-hover: rgb(0, 38, 255);
// Transition
$transition: 0.5s;
// border radius
$border-r: 0.4rem;
$border-r2: 0.2rem;
/*************************************/

.project {
  background-color: $color-bg;
  border-radius: $border-r;
  box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: $border-r;
  -moz-border-radius: $border-r;
  -ms-border-radius: $border-r;
  -o-border-radius: $border-r;

  &__image {
    width: 100%;
    height: 18rem;
    max-width: 30rem;
    min-height: 11rem;
    border-top-left-radius: $border-r;
    border-top-right-radius: $border-r;
    overflow: hidden;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &:hover {
      border-radius: $border-r;
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      -webkit-border-radius: $border-r;
      -moz-border-radius: $border-r;
      -ms-border-radius: $border-r;
      -o-border-radius: $border-r;

      img {
        border-radius: $border-r;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-border-radius: $border-r;
        -moz-border-radius: $border-r;
        -ms-border-radius: $border-r;
        -o-border-radius: $border-r;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      border-radius: $border-r;
      transition: $transition;
      -webkit-border-radius: $border-r;
      -moz-border-radius: $border-r;
      -ms-border-radius: $border-r;
      -o-border-radius: $border-r;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
  }

  &__info {
    padding: 1rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__description {
    padding-bottom: 1rem;
  }
  &__techs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__source {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    & a:first-child {
      margin-right: 1rem;
      padding: 0.5rem;
      border-radius: $border-r2;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
      -webkit-border-radius: $border-r2;
      -moz-border-radius: $border-r2;
      -ms-border-radius: $border-r2;
      -o-border-radius: $border-r2;

      &:hover {
        color: white;
        background-color: gray;
      }
    }

    & a:last-child {
      padding: 0.5rem;
      border-radius: $border-r2;
      background-color: $btn-watch-bg;
      color: $btn-watch-color;
      transition: $transition;
      -webkit-border-radius: $border-r2;
      -moz-border-radius: $border-r2;
      -ms-border-radius: $border-r2;
      -o-border-radius: $border-r2;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;

      &:hover {
        background-color: $btn-watch-bg-hover;
      }

      fa-icon {
        padding-left: 0.3rem;
      }
    }
  }
}
