@import '/src/styles/breakpoints';

/* Variables */
/*************************************/
// Technologie
$bg-color: #0000001c;
// Transition
$transition: 0.5s;
/*************************************/

:host {
  width: 100%;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0 0;

  @include media(laptop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.technologie {
  width: 50%;
  min-width: 40%;
  max-width: 80%;
  background-color: $bg-color;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.23rem;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;

  @include media(laptop) {
    width: 90%;
    margin-top: 2rem;
  }

  &:hover {
    .technologie__name {
      padding: 0.7rem 0 0.2rem;
      height: auto;
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 5.5rem;
    min-height: 5rem;
    max-height: 7rem;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    height: 0;
    padding: 0;
    opacity: 0;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
  }
}
