<div class="technologies">
  <div class="technologies__container technologies__container--2">
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/java.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <!-- <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/css.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div> -->
  </div>
  <div class="technologies__container technologies__container--3">
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/sass.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/stylus.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/less.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
  </div>
  <div class="technologies__container technologies__container--4">
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/angular.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/js.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/html.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/css.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
  </div>
  <div class="technologies__container technologies__container--3">
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/pug.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/bootstrap.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/excel.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
  </div>
  <div class="technologies__container technologies__container--2">
    <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/python.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div>
    <!-- <div class="technologie">
      <figure class="technologie__image">
        <img src="./../../../../assets/images/angular.svg" alt="">
      </figure>
      <h5 class="technologie__name">{{'technologie name' | uppercase}}</h5>
    </div> -->
  </div>
</div>
