footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  width: 50%;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;

  &__item {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
      background-color: red;

      a {
        color: white;
      }
    }
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    & > div {
      margin-left: 1rem;
    }

    &__mail {
      a::after {
        content: '';
        display: block;
        position: relative;
        left: 20%;
        width: 30%;
        height: 0.1rem;
        background-color: red;
        transition: 0.5s;
        transform-origin: center;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }

      a:hover::after {
        left: 0;
        width: 100%;
      }
    }
  }
}
