@import '/src/styles/breakpoints';

/* Variables */
/*************************************/
// Footer
$bg-color: #252424;
$color: #969696;
// Socials icons
$bg-color-hover: #000000a2;
$color-hover: rgb(228, 228, 228);
$color-hover-icon: white;
// Mail a
$color-effect: #edbb00;
$color-icon-hover: #edbb00;
// Transition
$transition: 0.5s;
/*************************************/

footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $color;

  @include media(laptop) {
    padding: 6rem 20%;
  }

  @include media(laptop-l) {
    flex-direction: row;
  }
}

.social {
  display: flex;
  width: 50%;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;

  @include media(mobile-m) {
    padding: 3rem 0;
    width: 40%;
  }

  @include media(laptop-l) {
    justify-content: space-evenly;
  }

  &__item {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &:hover {
      background-color: $bg-color-hover;

      a {
        color: $color-hover;
      }
    }
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media(laptop-l) {
    width: 50%;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    & > div {
      margin-left: 1rem;
    }

    &__mail {
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;

      a::after {
        content: '';
        display: block;
        position: relative;
        left: 20%;
        width: 30%;
        height: 0.1rem;
        background-color: $color-effect;
        transform-origin: center;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
      }

      a:hover {
        color: $color-hover;
      }

      a:hover:after {
        left: 0;
        width: 100%;
      }

      a:hover + div {
        color: $color-icon-hover;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
      }
    }

    &__creator {
      padding-bottom: 3rem;

      @include media(laptop-l) {
        padding-bottom: 0;
      }
    }
  }
}
