<footer>
  <div class="social">
    <div class="social__item">
      <a href="*" target="_blank">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>
    </div>
    <div class="social__item">
      <a href="*" target="_blank">
        <fa-icon [icon]="faGitHub"></fa-icon>
      </a>
    </div>
    <div class="social__item">
      <a href="*" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </div>
  </div>
  <div class="info__container">
    <address class="info info__mail">
      <a href="mailto:{{mail}}" target="_blank">{{mail}}</a>
      <div>
        <fa-icon [icon]="faMail"></fa-icon>
      </div>
    </address>
    <address class="info info__location">
      {{city}}
      <div>
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
    </address>
    <p class="info info__creator">{{creatorInfo}}</p>
  </div>
</footer>
