<footer>
  <div class="social">
    <div class="social__item">
      <a href="{{socials.linkedin}}" target="_blank">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>
    </div>
    <div class="social__item">
      <a href="{{socials.github}}" target="_blank">
        <fa-icon [icon]="faGitHub"></fa-icon>
      </a>
    </div>
    <div class="social__item">
      <a href="{{socials.twitter}}" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </div>
  </div>
  <div class="info__container">
    <address class="info info__mail">
      <a href="mailto:{{mail}}" target="_blank">{{mail}}</a>
      <div>
        <fa-icon [icon]="faMail"></fa-icon>
      </div>
    </address>
    <address class="info info__location">
      {{location}}
      <div>
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
    </address>
    <p class="info info__creator">{{message}}</p>
  </div>
</footer>
