@import '/src/styles/breakpoints';

/* Variables */
/*************************************/
// Border radius
$border-r: 50%;
/* *********************************** */

.image {
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  border-radius: $border-r;
  -webkit-border-radius: $border-r;
  -moz-border-radius: $border-r;
  -ms-border-radius: $border-r;
  -o-border-radius: $border-r;

  img {
    height: 100%;
    object-fit: cover;
    border-radius: $border-r;
    -webkit-border-radius: $border-r;
    -moz-border-radius: $border-r;
    -ms-border-radius: $border-r;
    -o-border-radius: $border-r;
  }
}

.flags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding-top: 1rem;

  @include media(tablet-s) {
    width: 10%;
  }

  @include media(laptop) {
    width: 7%;
  }

  @include media(laptop-xl) {
    width: 15%;
  }

  .flag:first-child {
    margin-right: 0.5rem;
  }
}
